@charset "utf-8";

body {
    text-align: center;
    font-size: 15px;
}
a {
    margin: 7px;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.fadein {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and  (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
